<footer>
  <span>© 2025 mi.astro; All rights reserved. </span>
  <div>
    <a aria-label="Link to: GitHub" href="https://github.com/felipeizolan/mi.astro">GitHub</a> /
    <a aria-label="Link to: Reddit" href="">Reddit</a> /
    <a aria-label="Link to: Mail" href="">Mail</a> /
    <a aria-label="Link to: X" href="">X</a>
  </div>
</footer>
