---
import slugify from "@sindresorhus/slugify";
import { join } from "path";

import Base from "./Base.astro";
import File from "@/assets/file.svg";
import Folder from "@/assets/folder.svg"
---
<Base {...Astro.props}>
  {
  Astro.slots.has('default') &&
  <section>
    <slot/>
  </section>
  }
  <main>
    {
    Astro.props.inodes?.map(({ text, type, slug }) => {
      let label = 'Link to: ' + text;
      let Icon = type == 'file' ? File : Folder;
      return (
        <a 
          class="inode"
          aria-label={label} 
          href={join(Astro.url.pathname, slug ?? slugify(text))}
        >
        <Icon/>{text}
        </a>
      );
    })
    }
  </main>
  {
  Astro.slots.has('after') &&
  <section>
    <slot name='after'/>
  </section>
  }
</Base>
